<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<!--
`tandeem-services`


@demo demo/index.html
-->

<dom-module id="tandeem-services">
  <template>
    <iron-ajax
       id="userAuth"
       url="[[url]]"
       handle-as="json"
       headers='{"Content-Type": "application/json"}'
       method="POST"
       body='[[body]]'
       on-error="errorData"
       last-response="{{data}}"></iron-ajax>
  </template>

  <script>
    Polymer({

      is: 'tandeem-services',

      properties: {
        data: {
          type: Object,
          observer: 'handleData',
        },
        url: {
          type: String,
          value: ''
        },
        body: {
          type: Object,
          value: {}
        }
      },
      attached: function() {
        document.addEventListener('request-data', function(data) {
          this.setParams(data) 
        }.bind(this))
      },
      setParams: function(data) {
       this.set('body', JSON.stringify(data.detail.info));
       this.set('url', data.detail.url);
       this.makeRequest();
      },
      makeRequest: function() {
       this.$.userAuth.generateRequest();
      },
      handleData: function(data) {
        if (data)
          this.fire('auth-event', {status: data.status});
      },
      errorData: function(data) {
        var response = data.detail.request.xhr.response;
        if(response) {
          this.fire('auth-event', {
            status: false,
            response: response
          });
        }
      }
    });
  </script>
</dom-module>
